.DS_Store
*.asv
Exp1/*/Analyses/*/EEGData/*
Exp1/*/Analyses/*/Data/*
Exp1/*/Data/*
Exp1/1*/Analyses/Analysis_MVL/ss2*_exp*.mat
Exp1/1*/Analyses/Analysis_POW/grand_power_filteredBands_alltrials.mat
Exp2/data/*
Exp2/scripts/analysis/output/collinearityPreds_correctOnly-False.pickle
*.edf
*.png
*.ai
*/manuscript_figures*
*/Figures*

.ipynb_checkpoints/
NOTES*
__pycache__
misc_notebooks
manuscript
.vscode
development
.RData
.Rhistory